/client/package-lock.json
/client/node_modules
/client/.env
/client/dist

/.idea

/server/node_modules
/server/package-lock.json
/server/favourites.json
/server/nodemon.json
/server/uploaded/background/*
/server/uploaded/icons/*